<% content_for :styles do %>
  <%= stylesheet_link_tag 'sign-up', media: 'all' %>
<% end %>

<div class="sign-up-container">
    <%= form_with url: login_path, method: :post, local: true do |form| %>
        <div class="form-group">
            <%= form.label :email %>
            <%= form.email_field :email, class: "form-control" %>
        </div>

        <div class="form-group">
            <%= form.label :password %>
            <%= form.password_field :password, class: "form-control" %>
        </div>
        <div class="buttons">
            <div class="form-group">
                <%= form.submit "Log In", class: "btn btn-primary" %>
            </div>
            <%= link_to "Sign Up", new_user_path, class: "btn btn-secondary" %>
        </div>
    <% end %>
    
</div>
