<div class="product-card">
  <% if product.photo.attached? %>
    <%= image_tag product.photo, alt: product.name, class: 'product-photo' %>
  <% else %>
    <%= image_tag 'placeholder.png', alt: 'No image', class: 'product-photo' %>
  <% end %>

  <h3><%= product.name %></h3>
  <p class="category"><%= product.category %></p>
  <p class="price">Price: $<%= product.price %></p>

  <% if show_delete_button %>
    <%= button_to 'Delete', admin_product_path(product), method: :delete, data: { confirm: 'Are you sure?' }, class: 'delete-button' %>
  <% elsif logged_in? && show_add_to_cart_button %>
    <%= button_to 'Add to Cart', carts_path(product_id: product.id), method: :post, class: 'add-to-cart-button' %>
  <% elsif logged_in? && is_cart && item.present? %>
    <div class="cart-quantity-controls">
      <%= button_to "-", update_quantity_cart_path(item, quantity: item.quantity - 1), method: :patch, class:"quantity button" %>
      <span class="quantity-display"><%= item.quantity %></span>
      <%= button_to "+", update_quantity_cart_path(item, quantity: item.quantity + 1), method: :patch, class:"quantity button" %>
    </div>
    <%= button_to "Remove", cart_path(item), method: :delete, class: "delete-button" %>
    
  <% end %>
</div>
