<% content_for :styles do %>
  <%= stylesheet_link_tag 'index', media: 'all' %>
<% end %>

<% content_for :navigation do %>
    <%= render partial: 'products/navigation' %>
<% end %>

<% content_for :header_title do %>
  Ordering food
<% end %>

<% content_for :header_subtext do %>
  <p>Maecenas vel tellus at magna sagittis. Integer pretium auctor magna, egestas justo gravida vitae. In lacinia actor auctor.</p>
<% end %>

<% content_for :filter do %>
  <div class="header-wrapper-bottom">
    <%= render partial: 'products/filter_products', locals: { products: @products } %>
  </div>
<% end %>

<div class="product-list-wrapper">
  <%= turbo_frame_tag 'products' do %>
    <%= render partial: 'products/list_products', locals: { products: @products, is_dash: false } %>
  <% end %>
</div>
