<% content_for :styles do %>
  <%= stylesheet_link_tag 'dashboard', media: 'all' %>
<% end %>

<% content_for :header_title do %>
  Dashboard
<% end %>
<main class="product-section">

  <%= form_with model: @product, url: admin_products_path, local: true, html:{ class: 'product-form__form' } do |form| %>
    <div>
      <%= form.label :name, 'Dish name:' %>
      <%= form.text_field :name, required: true %>
    </div>
    <div>
      <%= form.label :category, 'Category:' %>
      <%= form.select :category, options_for_select(['Second Courses', 'Entrees', 'Salads']), { prompt: '-- Select Category --' }, required: true %>
    </div>
    <div>
      <%= form.label :price, 'Price:' %>
      <%= form.number_field :price, required: true %>
    </div>
    <div>
      <%= form.label :photo, 'Photo:', required: true %>
      <%= form.file_field :photo %>
    </div>
    <%= form.submit 'Add Product' %>
  <% end %>

  <%= render partial: 'products/list_products', locals: { products: @products, is_dash: true } %>
</main>