<% content_for :styles do %>
  <%= stylesheet_link_tag 'sign-up', media: 'all' %>
<% end %>

<div class="sign-up-container">
    <%= form_with model: @user, local: true do |form| %>
        <div class="form-group">
            <%= form.label :username %>
            <%= form.text_field :username, class: "form-control" %>
        </div>

        <div class="form-group">
            <%= form.label :email %>
            <%= form.email_field :email, class: "form-control" %>
        </div>

        <div class="form-group">
            <%= form.label :password %>
            <%= form.password_field :password, class: "form-control" %>
        </div>

        <div class="form-group">
            <%= form.label :password_confirmation %>
            <%= form.password_field :password_confirmation, class: "form-control" %>
        </div>

        <div class="form-group">
            <%= form.submit "Sign Up", class: "btn btn-primary" %>
        </div>
    <% end %>
</div>
